mixin Main-nav(param={})
  .main-nav
    .main-nav__title.title-sm Популярные направления
    .main-nav__cards
      - const btnTitle = ['Женское здоровье', 'Мужское здоровье', 'ПЦР-Тесты', 'Генетические исследования']
      - const btnIcon = ['female', 'male', 'pcr', 'gen']
      - const btnBg = ['bg-red', 'bg-dark-blue', 'bg-green', 'bg-purpure']
        each el, i in Array(4)
          button.main-nav__btn.btn_primary(class=btnBg[i])
            .main-nav__btn-content
              .main-nav__btn-icon 
                +icon(btnIcon[i])
              .main-nav__btn-title.subtitle=btnTitle[i]
            img(src="/assets/img/categories/way1.png", alt="").main-nav__btn-img
    button.main-nav__btn-price.btn.btn_primary
      +icon('file')
      span Все анализы