.main-nav {
  display: grid;
  grid-template-columns: 240px 1fr;
  // column-gap: 8%;
  column-gap: 160px;
  row-gap: 28px;
  &__cards {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    .bg-red {
      &:hover {
        background-color: hsl(350, 72%, 66%) !important;
      }
    }
    .bg-dark-blue {
      &:hover {
        background-color: hsl(194, 100%, 64%) !important;
      }
    }
    .bg-green {
      &:hover {
        background-color: hsl(185, 93%, 56%) !important;
      }
    }
    .bg-purpure {
      &:hover {
        background-color: hsl(283, 59%, 82%) !important;
      }
    }
    .btn_primary {
      &:hover:not([disabled]):not(.btn_no-hover) {
        background-color: transparent;
        svg {
          fill: transparent;
        }
      }
    }
  }
  &__btn {
    width: 180px;
    height: 184px;
    border-radius: 10px;
    padding: 30px;

    img {
      display: none;
    }
    .subtitle {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__btn-title {
    color: #fff;
  }
  &__btn-icon {
    svg {
      stroke: #fff;
      width: 70px;
      height: 70px;
    }
  }
  &__btn-price {
    column-gap: 12px;
    height: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -2%;
    a{
      color: #00abdf !important;
    }
  }
  &__btn-content {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    align-items: center;
    justify-content: center;
  }
  @include lg {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 25px;
    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__cards {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    &__btn {
      max-width: calc(25% - 20px);
      width: 100%;
    }
    &__btn-price {
      margin-top: 10px;
    }
  }
  @include xs {
    &__cards {
      flex-direction: column;
      row-gap: 20px;
    }
    &__btn {
      position: relative;
      max-width: 100%;
      height: 184px;
      overflow: hidden;
      padding: 0;
      img {
        object-fit: cover;
        display: flex;
      }
      &:nth-child(1) {
        .main-nav__btn-content {
          background-color: rgba(221, 102, 116, 0.8);
        }
      }
      &:nth-child(2) {
        .main-nav__btn-content {
          background-color: rgba(20, 139, 175, 0.8);
        }
      }
      &:nth-child(3) {
        .main-nav__btn-content {
          background-color: rgba(39, 133, 133, 0.8);
        }
      }
      &:nth-child(4) {
        .main-nav__btn-content {
          background-color: rgba(116, 60, 136, 0.8);
        }
      }
    }
    &__btn-content {
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: 0px;
      // max-width: 163px;
      width: 50%;
      height: 184px;
      border-radius: 10px 0 0 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__btn-title {
      max-width: 100%;
      padding: 0 5px;
      width: 100%;
    }
  }
  @media(max-width: 450px){
    &__btn-content{
      width: 60%;
    }
  }
  @media(max-width: 374px){
    &__btn-content{
      width: 70%;
    }
  }
}
