.main-services {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;

  &__info {
    grid-column-start: 1;
    grid-column-end: 4;
    .btn_primary {
      border-radius: 30px;
      border: 1px solid #00abdf;
      background: #fff;
      padding: 1px 18px;
      margin-bottom: 16px;
    }
    .btn_secondary {
      border-radius: 21px;
      padding: 1px 18px;
      margin-top: 9px;
    }
  }
  &__title {
    display: flex;
    column-gap: 15px;
    align-items: center;
    margin-bottom: 32px;
    img {
      width: 24px;
      height: 18px;
    }
  }
  &__subtitle {
    color: #00abdf;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.36px;
    margin-bottom: 41px;

    max-width: 265px;
  }
  &__slider {
    overflow: hidden;
    .swiper-wrapper {
      .swiper-slide {
        height: auto;
      }
    }
  }
  &__cards {
    position: relative;
    grid-column-start: 4;
    grid-column-end: 13;
  }
  &__btn {
    min-height: 40px;
    max-width: 265px;
    width: 100%;
    span {
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      line-height: 23px; /* 200% */
      letter-spacing: -0.28px;
    }
  }
  @media (max-width: 1260px) {
    &__info {
      grid-column-end: 5;
    }
    &__cards {
      grid-column-start: 5;
    }
  }
  @media (max-width: 1001px) {
    &__info {
      grid-column-end: 13;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    &__cards {
      grid-column-start: 1;
      grid-row-start: 2;
    }
    &__subtitle {
      max-width: 270px;
    }
  }
  @media (max-width: 1001px) {
    display: flex;
    flex-direction: column;
    &__cards {
      padding-bottom: 37px;
    }
    &__info {
      .btn {
        display: none;
      }
    }
    &__subtitle {
      margin-bottom: 25px;
      max-width: 100%;

      font-size: 14px;
      font-weight: 600;
      line-height: 18px; /* 128.571% */
      letter-spacing: -0.28px;
    }
  }
}
