// -
//include catalog

mixin Header(param = {})
  .header
    .container.header__container
      .header__logo
        img(src="/assets/img/categories/main-logo.png" alt="logo")

      .header__contacts 
        .header__mark
          +icon('mark')
          span Сербия, Белград
        .header__phone
          +icon('phone')
          span +381-11-777-3777

      ul.header__nav 
        each el in ['Акции', 'О нас', 'Контакты']
          li=el

      button.header__lang 
        div Ru 
        +icon('arrow-down')
        ul.header__lang_choosing 
          li
            img(src="/assets/img/categories/flag-ru.png" alt="flag-ru")
            span Русский
          li
            img(src="/assets/img/categories/flag-srb.png" alt="flag-srb")
            span Srpski
          li
            img(src="/assets/img/categories/flag-eng.png" alt="flag-eng")
            span English


      .header__controles
        button.btn.btn_secondary.header__btn 
          img(src="/assets/img/categories/flag-ru.png" alt="flag-ru")
          span для граждан России
        button.btn.btn_primary.header__btn
          +icon('file')
          span Прайс-Лист
        button.header__burger
          +icon('burger')
          +icon('close')

      .header__menu 
        ul.header__list 
          each el in ['Для граждан России', 'Получить скидку', 'Акции', 'Контакты', 'Прайс лист']
            li=el
