.section {
  padding-top: 50px;
}
.section-inner {
  padding-top: 50px;
  padding-bottom: 60px;
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
  @include sm {
    font-size: 30px;
  }
  @include xs {
    font-size: 22px;
    line-height: 34px; /* 154.545% */
    letter-spacing: -0.44px;
  }
}
.title-sm {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 114.286% */
  letter-spacing: -0.56px;
  @include sm {
    font-size: 22px;
    line-height: 18px;
    letter-spacing: -0.44px;
  }
  @include xs {
  }
}
.bg-blue {
  background-color: #e6f8fd;
}
