mixin Btn-callback(param={})
  .btn-callback
    button.btn-callback__fixed
      img(src=`/assets/img/categories/callback.png`, alt="callback")
      a(href="#").btn-callback__whatsapp
        img(src=`/assets/img/categories/whatsapp.png`, alt="whatsapp")
        span Whatsapp
        +icon('whatsapp-close')


    