mixin Cashback(param={})
  .col-lg-18.cashback 
    .col-lg-2 
    .col-lg-14
      .cashback__container
        .cashback__container_img  
          img(src="/assets/img/categories/cashback.png", alt="")
        .cashback__container_title повышенный<br>кешбэк 16%
        .cashback__container_title кешбэк 12%
        .cashback__container_title кешбэк 10%
        .cashback__container_title кешбэк 5%
    .col-lg-2 
  .col-lg-18.cashback-desktop
    .col-lg-2 
    .col-lg-14
      .cashback__container
        .cashback__title Москва и Московская область
        .cashback__subtitle В любой день при заказе<br> <b>от 3500 руб.
        .cashback__subtitle По выходным при заказе<br> <b>от 2700 руб. 
        .cashback__subtitle По будням при заказе<br> <b>от 2700 руб. 
        .cashback__subtitle В любой день<br> при любом заказе
    .col-lg-2 
  .col-lg-18.cashback-desktop
    .col-lg-2 
    .col-lg-14
      .cashback__container
        .cashback__title другие города
        .cashback__subtitle В любой день при заказе<br> <b>от 3500 руб.
        .cashback__subtitle По выходным при заказе<br> <b>от 1600 руб. 
        .cashback__subtitle По будням при заказе<br> <b>от 1600 руб. 
        .cashback__subtitle В любой день<br> при любом заказе
    .col-lg-2

  .col-lg-18.cashback-mobile 
    .col-lg-2 
    .col-lg-14
      div
        .cashback__container_img  
            img(src="/assets/img/categories/cashback.png", alt="")
      div
        .cashback__container_title повышенный кешбэк 16%
        .cashback-mobile__block
          .cashback__title Москва и Московская область
          .cashback__subtitle В любой день при заказе <b>от 3500 руб.
        .cashback-mobile__block
          .cashback__title другие города
          .cashback__subtitle В любой день при заказе <b>от 3500 руб.
      div
        .cashback__container_title кешбэк 12%
        .cashback-mobile__block
          .cashback__title Москва и Московская область
          .cashback__subtitle По выходным при заказе <b>от 2700 руб. 
        .cashback-mobile__block
          .cashback__title другие города
          .cashback__subtitle По выходным при заказе <b>от 1600 руб. 
      div
        .cashback__container_title кешбэк 10%
        .cashback-mobile__block
          .cashback__title Москва и Московская область
          .cashback__subtitle По будням при заказе <b>от 2700 руб. 
        .cashback-mobile__block
          .cashback__title другие города
          .cashback__subtitle По будням при заказе <b>от 1600 руб. 
      div
        .cashback__container_title кешбэк 5%
        .cashback-mobile__block
          .cashback__title Москва и Московская область
          .cashback__subtitle В любой день при любом заказе
        .cashback-mobile__block
          .cashback__title другие города
          .cashback__subtitle В любой день при любом заказе
    .col-lg-2 

    