include ../mixins/mixins


block variables

doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        link(type="image/x-icon" rel="shortcut icon" href="/assets/img/favicon.ico")
        title new design #{title}
        meta(name="description" content=`${description}`)
        meta(name="viewport" content="width=device-width, initial-scale=1")

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    body.t-body
        +Header()
        block content
        +Btn-callback()
        +Footer()
        include ../pages/_modals
