.info.container
    .info__top
        .info__top_title
            span Главное преимущество компании
        .info__top_number
            span #1
    .info__bottom
        .info__bottom_content
            .info__bottom_title Работаем 
            .info__bottom_title с 2012 года
        .info__bottom_content
            .info__bottom_subtitle Вашим автомобилем будут заниматься люди с большим опытом, полученным за многие годы и прошедшие множество обучений. 
            .info__bottom_subtitle Сотрудники обладают огромным багажом знаний, применяемых на практике. 