.sidebar-sm{
    
    li{
        display: flex;
        align-items: center;
        height: 40px;
        border-radius: 10px;
        padding: 8px 12px;
        a{
            text-decoration: none;
            display: flex;
            column-gap: 10px;
            svg{
                width: 24px;
                height: 24px;
                fill: transparent;
                stroke: #00ABDF;
            }
            span{
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: -2%;
                color: rgb(59, 75, 100);
            }
        }
        &:hover{
            background-color: #E6F8FD;
            a{
                span{
                    color: #00ABDF;
                }
            }
        }
    }
    @include lg{
        display: flex;
        overflow: auto;
        column-gap: 10px;
        padding-bottom: 25px;
        border-bottom: 1px solid rgb(178, 186, 198);
        padding-left: 30px;
        li{
            border: 1px solid #00ABDF;
            width: max-content;
            &:hover{
                background-color: #00ABDF;
                color: #fff;
                a{
                    span{
                        color: #fff;
                    }
                    svg{
                        stroke: #fff;
                    }
                }
            }
            a{
                span{
                    white-space: nowrap;
                }
                
            }
        }
    }
}