mixin Sidebar-sm(param={})
    ul.sidebar-sm
        li
            a(href="#") 
                +icon('why')
                span Почему я
        li
            a(href="#") 
                +icon('educ')
                span Образование
        li
            a(href="#") 
                +icon('expir')
                span Опыт работы
        li
            a(href="#") 
                +icon('serv')
                span Мои услуги
        li
            a(href="#") 
                +icon('value')
                span Мои ценности
        li
            a(href="#") 
                +icon('princ')
                span Мои принципы
        li
            a(href="#") 
                +icon('work')
                span Описание работы