.main-contacts
  .main-contacts__title.title-sm Наши контакты
  .section-inner-full.bg-dark-blue.main-contacts__info
    .main-contacts__subtitle Белград, Врачар, Дублянская, 41

    .main-contacts__phone
      .main-contacts__phone-title Мы на связи
      .main-contacts__phone-number 
        a(href="#") +381-11-777-3777
      .main-contacts__phone-subtitle Лаборатория СИТИЛАБ в Белграде готова ответить на все ваши вопросы.

    .main-contacts__map
      img(src=`/assets/img/categories/main-map.png`, alt="map")
      
    .main-contacts__work
      .main-contacts__work_head
        +icon('done')
        .main-contacts__work_head-title График работы:
      .main-contacts__work_body
        ul.main-contacts__work_body-list
          li
            span.work-day Понедельник:
            span.work-time с 08:00 до 18:00
          li
            span.work-day Вторник:
            span.work-time с 08:00 до 18:00
          li
            span.work-day Среда:
            span.work-time с 08:00 до 18:00
          li
            span.work-day Четверг:
            span.work-time с 08:00 до 18:00
          li
            span.work-day Пятница:
            span.work-time с 08:00 до 18:00
          li.main-contacts__body-saturday
            span.work-day Суббота:
            span.work-time с 08:00 до 14:00
          li.main-contacts__body-sunday
            span.work-day Воскресенье:
            span.work-time выходной

  .section-top
    .main-contacts__work
      .main-contacts__work_head
        +icon('done')
        .main-contacts__work_head-title График работы:
      .main-contacts__work_body
        ul.main-contacts__work_body-list
          li
            span.work-day Понедельник:
            span.work-time с 08:00 до 18:00
          li
            span.work-day Вторник:
            span.work-time с 08:00 до 18:00
          li
            span.work-day Среда:
            span.work-time с 08:00 до 18:00
          li
            span.work-day Четверг:
            span.work-time с 08:00 до 18:00
          li
            span.work-day Пятница:
            span.work-time с 08:00 до 18:00
          li.main-contacts__body-saturday
            span.work-day Суббота:
            span.work-time с 08:00 до 14:00
          li.main-contacts__body-sunday
            span.work-day Воскресенье:
            span.work-time выходной
