.services-card {
  padding: 47px 24px 50px;
  border-radius: 10px;
  border: 1px solid #00abdf;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 280px;
  width: 100%;
  height: auto;
  &__number {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00abdf;
    color: #fff;
    border-radius: 10px 10px 10px 0;
    width: 58px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -2%;
  }
  &__title {
    line-height: 18px;
    margin-bottom: 14px;
    color: rgb(59, 75, 100);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  &__subtitle {
    color: rgb(59, 75, 100);
  }
  &__subtitle:last-of-type {
    margin-bottom: 27px;
  }
  &__subtitle:not(:last-of-type) {
    margin-bottom: 5px;
  }
  &__btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -2%;
    margin-top: auto;
    height: 45px;
  }
  &__btn-mobile {
    display: none;
  }
  &__file {
    line-height: 28px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    flex-direction: row-reverse;
    position: absolute;
    bottom: 17px;
    border: none;
    height: initial;
    padding: 0;
    svg {
      stroke: #00abdf;
      fill: none;
    }
  }
  @include lg {
    // .d-lg-block {
    //   display: block;
    // }
    border: none;
    border-radius: 0;
    padding: 0;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    &__number {
      position: initial;
      background-color: transparent;
      color: rgb(59, 75, 100);
      width: 15px;
      height: 16px;
      display: inline;
      font-size: 16px;
    }
    &__title {
      width: 100%;
      font-size: 18px;
      margin-bottom: 8px;
    }
    &__subtitle {
      width: 100%;
    }
    &__subtitle:last-of-type {
      margin-bottom: 25px;
    }
    &__btn {
      width: 100%;
    }
    &__btn:not(:first-of-type) {
      margin-top: 14px;
    }
    &__btn-desktop {
      display: none;
    }
    &__btn-mobile {
      display: block;
    }
    &__file {
      position: initial;
      width: 100%;
      margin-top: 14px;
      padding: 9px 15px;
      border: 1.5px solid #00abdf;
    }
  }
}
