.services-card {
  height: calc(100% - 184px);
  &__content {
    padding: 20px 25px 17px;
    border-right: 1px solid var(--gray1, #b2bac6);
    border-bottom: 1px solid var(--gray1, #b2bac6);
    border-left: 1px solid var(--gray1, #b2bac6);
    height: 100%;
    background-color: #fff;
    .btn {
      display: none;
      &_primary {
        margin-bottom: 14px;
      }
    }
  }
  &__title {
    color: var(--blue-gray, #3b4b64);
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.32px;
    margin-bottom: 8px;
  }
  &__subtitle {
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
  }
  &__img {
    background-color: #00abdf;
    padding: 15px 33px 7px 22px;
    height: 184px;
    width: 100%;
    position: relative;
    img {
      object-fit: contain;
    }
  }
  &__tag {
    border-radius: 20px;
    background-color: #ea516d;
    width: 108px;
    height: 25px;

    position: absolute;
    top: 15px;
    left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px; /* 128.571% */
      letter-spacing: -0.28px;
    }
  }
  &__btn {
    border-radius: 21px;
  }
  @media (max-width: 1001px) {
    &__subtitle {
      margin-bottom: 25px;
    }
    &__content {
      padding: 22px 25px 30px;
      display: flex;
      flex-direction: column;
      .btn {
        display: block;
        padding: 9px 4px;
        width: 100%;
        &_primary {
          margin-top: auto;
        }
      }
    }
  }
}
