.stock.container
    h2 Наши акции
    .stock__container 
        .stock__img
            img(src="/assets/img/stock.png" alt="stock")
        .stock__content
            .stock__content_top
                .stock__content_top_title Дарим 1000 бонусов за шиномонтаж и хранение
                .stock__content_top_subtitle 11 апреля
                .stock__content_top_btn
                    .stock__content_top_btn_arrow-right
                        +icon("arrow-right")
                    .stock__content_top_btn_span
                        span Подробнее
            .stock__content_bottom
                +icon("slim-arrow-left")
                +icon("slim-arrow-right")
