.subscribe {
  display: grid;
  grid-template-columns: 381px 1fr;
  column-gap: 22px;
  row-gap: 17px;
  .subtitle-sm {
    font-weight: 500;
    line-height: 150.04%;
    letter-spacing: -1%;
  }
  &__cell {
    display: flex;
    column-gap: 24px;
    .btn {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 28px;
      letter-spacing: -2%;
    }
    .input {
      max-width: 232px;
      max-height: 45px;
      &__placeholder {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: -2%;
      }
      input {
        border-radius: 10px;
      }

      &::after {
        border: 1px solid #8e9aab;
        border-radius: 10px;
      }
    }
    .btn {
      max-width: 232px;
      width: 100%;
    }
    &:last-of-type {
      grid-column-start: 2;
      grid-column-end: 3;
      column-gap: 19px;
    }
  }
  &__link,
  &__check {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 150.04%;
    letter-spacing: -1%;
  }
  &__link {
    &:hover {
      text-decoration: underline;
      color: rgb(0, 171, 223);
    }
  }
  &__check {
    display: flex;
    align-items: center;
    column-gap: 4px;
  }
  .checkbox {
    padding-left: 35px;
    align-items: center;
    &__label {
      color: rgb(59, 75, 100);
      &::before {
        border-radius: 3px;
        border: 1px solid #8e9aab;
        border-color: #8e9aab !important;
      }
    }
    &:hover {
      .checkbox__label {
        color: rgb(59, 75, 100);
      }
    }
  }
  @include lg {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 26px;
    &__title {
      line-height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__cell {
      grid-column-start: 1;
      grid-column-end: 2;
      .input,
      .btn {
        max-width: 33%;
      }
      &:last-of-type {
        grid-column-start: 1;
        grid-column-end: 2;
      }
    }
  }
  @include xs {
    &__cell {
      flex-wrap: wrap;
      row-gap: 20px;
      .input,
      .btn {
        max-width: 100%;
      }
    }
    &__check {
      flex-wrap: wrap;
    }
  }
  @media (max-width: 536px) {
    &__link {
      padding-left: 35px;
    }
  }
}
.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  row-gap: 6px;
  padding-top: 37px;
  padding-bottom: 38px;
  .title-sm {
    margin-bottom: 14px;
    z-index: 100;
  }
  .subtitle-sm {
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -1%;
    line-height: 150.04%;
    text-align: center;
    z-index: 100;
  }
  svg {
    width: 183px;
    height: 136px;
    position: absolute;
    fill: rgb(220, 243, 190);
    z-index: 50;
    right: 33%;
    top: 0;
    // right: 385px;
  }
  @include lg {
    svg {
      right: 28%;
    }
  }
  @include sm {
    padding-top: 100px;
    padding-bottom: 183px;
    row-gap: 20px;
    .title-sm {
      margin-bottom: 10px;
      font-size: 28px;
    }
    svg {
      width: 216px;
      height: 168px;
      right: -56px;
      top: 231px;
    }
  }
}
