mixin Subscribe(param={})
  .subscribe
    .subscribe__title.title-sm Подписаться на рассылки
    .subscribe__cell
      +Input({ type: 'text', placeholder: 'Имя' })
      +Input({ type: 'text', placeholder: 'E-mail*' })
      button.btn.btn_secondary Подписаться
    .subscribe__cell
      .subscribe__mark * Поля, обязательные для заполнения
      .subscribe__check   
        +Checkbox({
            text: 'Я согласен на получение ',
        })
        a(href="#").subscribe__link.text-blue рекламно-информационных рассылок 
  .subscribe__success
    .subscrube__title.title-sm Cпасибо!
    .subscrube__subtitle.subtitle-sm Вы успешно подписались на рассылку Ситилаб. 
    .subscrube__subtitle.subtitle-sm Теперь следить за новостями и акутальными предложениями будет проще!  
    +icon('success')
        
