mixin Analysis-list(param={})
  //- .analysis-list
  //-   ul.analysis-list__sheet
  //-     each el in Array(18)
  //-       li
  //-         .list__code код: 11-10-001
  //-         .list__type Общий анализ крови (CBC/Diff - 5 фракций лейкоцитов)
  //-         .list__price 12 525 ₽
  - const style = param.id != 1 ? 'display: none;' : ''
  .a-list.tabb(style=`width: 100%; height: max-content; background: none; ${style}` id=`tab${param.id}`)
    if (param.listDescription)
      if (param.listTitleLink)
        div.a-list__title
          p.a-title.text-blue=param.listTitle
      div
        +Analysis-text({
          listTextTitle: true,
          title: 'Биоматериал: венозная кровь',
          listText: true,
          text: [
            'Общий анализ крови представляет собой важное диагностическое исследование, тщательно отражающее как распространенные, так и более редкие нарушения здоровья человека. Эти нарушения проявляются отклонениями от нормы различных параметров общего анализа крови. Во многих случаях результаты общего анализа крови играют ключевую роль в установлении диагноза, особенно при заболеваниях системы кроветворения, где этому исследованию отводится ведущая роль.',
          ]
        })
      div
        +Analysis-text({
          listTextTitle: true,
          title: 'Общий анализ крови включает в себя следующие показатели:',
          listTextUl: true,
          list: [
            'Лейкоциты (WBC): Отражает количество белых кровяных клеток в определенном объеме крови. Отклонения в количестве лейкоцитов могут свидетельствовать об инфекциях, воспалительных состояниях или нарушениях иммунной системы.',
            'Эритроциты (RBC): Отражает количество красных кровяных клеток в определенном объеме крови. Отклонения от нормы могут указывать на анемию или другие нарушения, связанные с кровью.',
            'Гемоглобин (HGB, Hb): Оценивает количество гемоглобина, белка, отвечающего за перенос кислорода, в крови. Аномалии уровня гемоглобина могут указывать на анемию или другие проблемы со здоровьем.',
            'Гематокрит (HCT): Представляет собой процент объема крови, занимаемого эритроцитами. Этот показатель также отражает способность крови переносить кислород.',
            'Средний объем эритроцита (MCV): Указывает на средний размер красных кровяных клеток.',
            'Среднее содержание Hb в эритроците (MCH): Измеряет среднее количество гемоглобина в красных кровяных клетках.',
            'Средняя концентрация Hb в эритроцитах (MCHC): Отражает концентрацию гемоглобина в красных кровяных клетках.',
            'Индекс распределения эритроцитов (RDW-SD): Отражает изменчивость размеров красных кровяных клеток.',
            'Индекс распределения эритроцитов (RDW-CV): Оценивает степень изменчивости размеров красных кровяных клеток.',
            'Тромбоциты (PLV): Оценивает количество тромбоцитов, необходимых для свертывания крови. Отклонения от нормы могут свидетельствовать о нарушениях свертывания крови или проблемах с костным мозгом.',
            'Средний объем тромбоцита (MPV): Измеряет средний размер тромбоцитов в крови. Повышенные или пониженные значения могут быть связаны с различными заболеваниями, такими как тромбоцитопения или тромбоцитоз.',
            'Тромбокрит (PCT): Этот параметр отражает процентное содержание тромбоцитов в общем объеме крови и используется для дополнительной оценки функции тромбоцитов.',
            'Индекс распределения тромбоцитов (PDW): Измеряет изменчивость размеров тромбоцитов. Повышенные значения могут быть индикатором различных состояний, включая тромбоцитопению.',
          
            ],
        })
      div
        +Analysis-text({
          listTextTitle: true,
          title: 'Лейкоцитарная формула состоит из пяти основных типов лейкоцитов в мазке крови:',
          listText: true,
          text: [
            '1. Нейтрофилы (NE): Эти белые кровяные клетки играют ключевую роль в защите организма от бактерий и других инфекций. Повышенные уровни нейтрофилов могут указывать на бактериальное воспаление.',
            '2. Лимфоциты (LYMF): Лимфоциты отвечают за иммунитет и могут быть повышены при вирусных инфекциях или в условиях, связанных с иммунной реакцией.',
            '3. Моноциты (MON): Моноциты играют роль в фагоцитозе и воспалительных процессах. Их уровень может повыситься при хронических инфекциях или воспалительных состояниях.',
            '4. Эозинофилы (Eo): Эозинофилы часто увеличиваются при аллергических реакциях и паразитарных инфекциях.',
            '5. Базофилы (Ba): Базофилы играют роль в аллергических реакциях и воспалительных процессах. Их повышенные уровни могут быть связаны с различными аллергическими состояниями.',
          ],
        })
      div 
        +Analysis-text({
          listText: true,
          text: [
            'Общий анализ крови – это результат совместной работы современных технологий и экспертов в области лабораторной гематологии. Несмотря на свою рутинность проведения, этот вид исследования остается первоочередным и ключевым этапом в поиске дифференциального диагноза и оценке эффективности лечения.',
          ],
        })
      div   
        +Analysis-text({
          listTextTitle: true,
          title: 'Источники:',
          listTextLinks: true,
          links: [
            '1. Э.М. Шакирова, Э.И. Землякова Оценка анализов крови в общей врачебной практике. — ПРАКТИЧЕСКАЯ МЕДИЦИНА, 2011. — 25-28 с.',
            '2. Marcel E. Conrad, MD, (Retired) Distinguished Professor of Medicine, University of South Alabama Iron Deficiency Anemia Updated: Oct 4, 2006.',
            '3. Татков О. В., Ступин Ф. П. Общий анализ крови. Информационный сборник // М.: Издательские решения. — 2016. — 72 с. ISBN 978-5-4474-7600-7.',
          ],
        })
      div 
        +Analysis-tags({
          tag: 
          [
            'Клинический анализ крови',
            'ОАК',
            'ОАК с лейкоформулой',
            'Анализ крови'
          ]
        })

    if (param.listPreparation)
      if (param.listTitleLink)
        div.a-list__title
          p.a-title=param.listTitle
      div
        +Analysis-text({
          listText: true,
          text: [
            'Исследование желательно проводить натощак. Между последним приемом пищи и взятием крови должно пройти не менее 8 часов. Накануне избегать переедания, физической нагрузки и эмоционального перенапряжения. Допустимо пить чистую не минеральную и не газированную воду. Чай, кофе, сок запрещаются.',

          ]
        })
      div
        +Analysis-text({
          listTextTitle: true,
          title: 'Факторы, которые могут повлиять на результат:',
          listTextLink: true,
          link: 'см. Интерпретация "Интерферирующие факторы"'
        })
    if (param.listReadings)
      div
        +Analysis-text({
          listTextTitle: true,
          title: 'Показания к назначению',
          listText: true,
          text: [
            '1. При острых и обострении хронических заболеваний.',
            '2. При обнаружении патологий внутренних органов при осмотре.',
            '3. Для контроля эффективности лечения, которое было назначено при выявленном заболевании.',
            '4. При подозрении на наследственные заболевания.'
          ]
        })
    if (param.result)
      div.a-list__title
        p.a-title Причины отклонения показателей от нормы (повышенные значения):
      div
        +Analysis-text({
          listText: true,
          text: [
            '1. Абсолютные эритроцитозы (повышенная продукция эритроцитов):',
            'Первичные: эритремия (злокачественное заболевание костного мозга);',
            'Вторичные (симптоматические):- вызванные гипоксией (заболевания лёгких, пороки сердца, наличие аномальных гемоглобинов, повышенная физическая нагрузка, пребывание на больших высотах, ожирение); - связанные с повышенной продукцией эритропоэтина (рак паренхимы почки, гидронефроз и поликистоз почек, рак паренхимы печени, доброкачественный семейный эритроцитоз); - связанные с избытком адренокортикостероидов или андрогенов в организме (синдром Кушинга, феохромоцитома, гиперальдостеронизм).',
            '1.  Относительные эритроцитозы (дегидратация из-за диареи, обильной рвоты, при диабете, после ожогов; эмоциональные стрессы, алкоголизм, курение, артериальная гипертензия, недостаточное потребление жидкости, полиурия).',
            '1. Смешанный эритроцитоз вследствие сгущения крови и плацентарной трансфузии (физиологический эритроцитоз новорожденных)',
          ]
        })
      div.a-list__title
        p.a-title Причины отклонения показателей от нормы (сниженные значения):
      div
        +Analysis-text({
          listText: true,
          text: [
            '1. Железо-, B12- или фолиеводефицитная анемия;',
            '2. Острое или хроническое кровотечение;',
            '3. Хронические болезни почек (уменьшение синтеза эритропоэтина);',
            '4. Цирроз печени;',
            '5. Гипотиреоз;',
            '6. Гемолиз (вследствие наследственного дефекта эритроцитов, из-за появления антител к собственным эритроцитам или токсического действия);',
            '7. Онкологические заболевания костного мозга или метастазы других опухолей в костный мозг;',
            '8. Апластическая анемия;',
            '9. Системные заболевания соединительной ткани;',
            '10. Хронические инфекции;',
            '11. Беременность.',
          ],
        })
      div.a-list__title
        p.a-title Интерферирующие факторы:
      div
        +Analysis-text({
          listTextUl: true,
          list: [
            'Рекомендуется сдвать кровь для анализа натощак, так как прием пищи перед процедурой может оказать влияние на полученные результаты.',
            'Физическая активность и стресс могут оказывать воздействие на уровень лейкоцитов и другие показатели анализа крови.',
            'Применение определенных медикаментов, таких как антибиотики, кортикостероиды и противосудорожные препараты, может изменить результаты общего анализа крови.',
            'Беременность и менструальный цикл могут оказывать влияние на различные параметры общего анализа крови.',
            'Возраст и пол также могут влиять на показатели общего анализа крови.',
          ],
        })
