mixin Analysis-list(param={})
  .analysis-list
    ul.analysis-list__sheet
      each el in Array(18)
        li
          .list__code код: 11-10-001
          .list__type Общий анализ крови (CBC/Diff - 5 фракций лейкоцитов)
          .list__price 12 525 ₽
