.mark-auto.container
    h2 Обслуживаем и ремонтируем 
    .mark-auto__container
        .mark-auto__container_center
            .mark-auto__container_item 
                img(src="/assets/img/volvo.png", alt="volvo")
            .mark-auto__container_item
                img(src="/assets/img/lr.png", alt="lr")
            .mark-auto__container_item
                img(src="/assets/img/mercedes.png", alt="mercedes")
            .mark-auto__container_item
                img(src="/assets/img/bmw.png", alt="bmw")
            .mark-auto__container_item
                img(src="/assets/img/porsche.png", alt="porsche")
            .mark-auto__container_item
                img(src="/assets/img/audi.png", alt="audi")