mixin Article(param={})
  .article
    .article__title
      .title-sm Статьи
      a(href="#").article__link.text-blue Все статьи
    .article__slider 
      .swiper-wrapper 
        .swiper-slide 
          +Article-card({
            imgOne: true,
            date: '01.10.2023',
            title: 'Эндометриоз у женщин: причины, симптомы, диагностика, лечение',
            subtitle: 'Эндометриоз у женщин представляет собой процесс разрастания доброкачественной ткани, которая схожа...',
          })
        .swiper-slide 
          +Article-card({
            imgTwo: true,
            date: '25.09.2023',
            title: 'Дисбактериоз кишечника: причины, симптомы, диагностика, лечение',
            subtitle: 'Дисбактериоз – качественное и количественное изменение микрофлоры в организме на любом его...',
          })
        .swiper-slide 
          +Article-card({
            imgThree: true,
            date: '18.09.2023',
            title: 'Инсульт: причины, признаки, диагностика, лечение',
            subtitle: 'Инсульт – острое нарушение мозгового кровообращения (ОНМК), инфаркт мозга – это внезапно возникшее...',
          })
        .swiper-slide 
          +Article-card({
            imgThree: true,
            date: '18.09.2023',
            title: 'Инсульт: причины, признаки, диагностика, лечение',
            subtitle: 'Инсульт – острое нарушение мозгового кровообращения (ОНМК), инфаркт мозга – это внезапно возникшее...',
          })