.article {
  position: relative;
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    .title-sm {
      color: rgb(59, 75, 100);
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      align-self: center;
    }
  }
  &__link {
    text-decoration: none;
    // position: absolute;
    // right: 0;
    // top: 10px;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px; /* 126.316% */
    letter-spacing: -2%;
  }
  &__slider {
    overflow: hidden;
    .swiper-wrapper {
      .swiper-slide {
        height: auto;
      }
    }
  }
  @include lg {
    &__title {
      padding-right: 30px;
    }
  }
  @include xs {
    &__title {
      .title-sm {
        line-height: 32px;
      }
    }
    &__link {
      font-size: 14px;
    }
  }
}
