.application
    .application__consultation
        img(src="/assets/img/application.png", alt="application")     
        .application__consultation_info
            .application__consultation_title Получить консультацию
            .application__consultation_subtitle Оставьте заявку, и наш мастер перезвонит вам, произведет предварительную оценку стоимости услуг и запчастей, и подберет удобное время для визита.
                .application__consultation_controles_btn 
                    button.btn.btn_primary.application__consultation_controles_btn
                        span Оставить заявку
                        +icon("arrow-right")
            .application__download
                .application__download_phone-photo 
                    img(src="/assets/img/phones.png", alt="phones")
                .application__download_app
                        .application__download_app_title Скачивайте наше мобильное приложение
                        .application__download_app_subtitle
                            +icon('check')
                            span записаться на ремонт
                        .application__download_app_subtitle
                            +icon('check')
                            span просмотреть историю обслуживания
                        .application__download_app_subtitle
                            +icon('check')
                            span Получать постоянные акции и бонусы
                .application__download_img-btn 
                    img(src="/assets/img/app-store.png", alt="app-store")
                    img(src="/assets/img/google-play.png", alt="google-play.png")
    