.guarantee.container 
    .guarantee__description
        .guarantee__description_title Обратившись к нам, в автоцентр, вы окажетесь в надёжных руках специалистов послегарантийного ремонта и технического обслуживания автомобилей.
        .guarantee__description_subtitle Чтобы автомобиль всегда оставался в отличной форме, необходимо выполнять регулярное ТО по программе рекомендованной производителем.
        .guarantee__description_subtitle Подразделение нашей компании СЕРТИФИЦИРОВАННО - это позволяет производить обслуживание вашего автомобиля С СОХРАНЕНИЕМ ГАРАНТИИ.
    .guarantee__img 
        div
            +icon("shield")
            span Гарантия работы
            span 1 год
        div 
            +icon("person")
            span Квалифицированные
            span сотрудники
        div 
            +icon("cap")
            span Комфортные
            span зоны ожидания
        div 
            +icon("car")
            span Современное
            span оборудование
