.footer {
  background-color: #3e3e3e;
  .container {
    justify-content: space-between;
    display: flex;
    column-gap: 20px;
    padding: 80px 0;
    height: 356px;

    position: relative;
  }
  &__col {
    display: flex;
    flex-direction: column;
    width: calc(33% - 10px);
    a {
      text-decoration: none;
      &:hover {
        color: #fff;
      }
    }
    .footer-email {
      display: none;
    }
    .btn {
      font-size: 16px;
      font-weight: 600;
      line-height: 18px; /* 112.5% */
      letter-spacing: -0.32px;
      max-width: 244px;
      height: 44px;
      &_primary {
        column-gap: 3px;
      }
    }
  }
  &__col-logo {
    height: 62px;
    width: 100%;
    max-width: 200px;
    img {
      height: 100%;
    }
  }
  &__col-rights {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 35px; /* 291.667% */
    margin: 25px 0 7px;
  }
  &__col-note {
    color: #888;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    max-width: 400px;
  }
  &__col-title {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px; /* 145.455% */
    letter-spacing: -0.44px;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
    span {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: -0.32px;
      margin-top: 6px;
      &:first-child {
        margin-top: 8px;
      }
    }
  }
  &__col-cards {
    margin: 3px 0 26px;
    display: flex;
    column-gap: 10px;
    img {
      width: 50px;
      height: 32px;
      border-radius: 4px;
    }
  }
  @include lg {
    .container {
      padding: 80px 30px;
    }
    &__col-rights {
      margin: 5px 0 5px;
    }
  }
  @include sm {
    .container {
      height: 510px;

      flex-wrap: wrap;
    }
    .footer-stock,
    .footer-about,
    .btn {
      display: none;
    }
    .footer-email {
      display: block;
    }
    &__col-logo {
      display: none;
    }
    &__block-two {
      width: calc(50% - 10px);
      order: 1;
    }
    &__block-three {
      width: calc(50% - 10px);
      order: 2;
    }
    &__block-one {
      width: 100%;
      order: 3;
    }
    &__col-rights {
      margin: 45px 0 12px;
    }
    &__col-note {
      max-width: 100%;
      font-size: 18px;
    }
  }
  @include xs {
    .container {
      padding: 50px 30px 30px;

      flex-direction: column;
    }
    &__col-rights {
      margin-top: 0;
    }
    &__col {
      width: 100%;
      align-items: center;
    }
    &__block-two {
      order: 1;
    }
    &__block-three {
      order: 2;
    }
    &__block-one {
      order: 3;
    }
    &__col-title {
      text-align: center;
      margin-bottom: 15px;
      span {
        &:first-child {
          margin-top: 15px;
        }
      }
    }
    &__col-note {
      text-align: center;
    }
  }
  @media (max-width: 360px) {
    &__col-cards {
      margin: 3px 0 3px;
    }
    &__col-rights {
      line-height: 20px;
    }
  }
}
