.slider-pagination {
  display: none;
  display: none;
  justify-content: center;
  column-gap: 18px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  span {
    width: 12px;
    height: 12px;
    background: #e5e8ea;
    border-radius: 100%;
    display: block;

    &:hover {
      cursor: pointer;
    }

    &.swiper-pagination-bullet-active {
      background-color: #00abdf;
      &::after {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        border: 1px solid #00abdf;
        position: relative;
        // left: -1px;
        // top: -1px;
        // transform: translate(-1px, -1px);
      }
    }
  }
  @media (max-width: 800px) {
    display: flex;
  }
}
