mixin Sidebar-analysis(param={})
    .sidebar-list
        if (param.analysisBtn)
            .sidebar-btn
                //- +icon('a-analysis')
                a Анализы по категориям
                .sidebar-btn__close   
                    +icon('close')
        ul.accordion.accordion-sidebar
            - const listTitle = ["Капельницы", "Услуги взятия биоматериала", "ПЦР диагностика других инфекций", "ПЦР диагностика половых инфекций", "ПЦР диагностика респираторных инфекций", "ПЦР диагностика герпес-вирусной инфекции", "ПЦР диагностика ВПЧ", "Женское здоровье", "Мужское здоровье", "Фармакогенетика", "Генетические анализы", "Пренатальная диагностика", "Для беременных", "Цитологические исследования женщин", "Профили", "Маркёры воспаления", "Общие показатели крови", "Коагулологические исследования (коагулограмма)", "Группа крови и резус-фактор", "Диабет", "Биохимические показатели", "Анемия", "Липидный статус", "Сердечные заболевания", "Микроэлементы и электролиты", "Неперносимость продуктов", "Наркотические и лекарственные вещества в моче", "Исследования кала", "Заболевания щитовидной железы", "Исследования мочи", "Микробиологические и микологические исследования", "Паразитология", "Исследования эякулята"]
                each el, i in Array(32)
                    li.accordion__item  
                        .accordion__head
                            a(href="#")=listTitle[i]
                                span (6)
                            div
                                +icon('arrow-accordion')
                        ul.accordion__body
                            .a-row
                                .a-row__type
                                    .a-subtitle.a-card-code код: 61-94-170
                                    a(href="#").a-title-sm Фемофлор 16. Исследование биоценоза урогенитального тракта женщин
                                .a-row__price 12 000 ₽
                            .a-row
                                .a-row__type
                                    .a-subtitle.a-card-code код: 61-94-170
                                    a(href="#").a-title-sm Фемофлор 16. Исследование биоценоза урогенитального тракта женщин
                                .a-row__price 12 000 ₽