mixin Main-banner(param={})
  .container
    button.btn.btn_secondary.banner__btn 
      img(src="/assets/img/categories/flag-ru.png" alt="flag-ru")
      span для граждан России
  .main-banner
    .container
      .main-banner__content
        .main-banner__title.title СИТИЛАБ - международная сеть лабораторий
        .main-banner__subtitle.title-sm Более 900 видов исследований
        button.main-banner__btn(data-my-modal='#get-discount') Получить скидку
      .main-banner__img
        img(src="/assets/img/categories/main-banner.png", alt="", class='main-banner-desk')
        img(src="/assets/img/categories/main-banner-sm.png", alt="", class='main-banner-mob')