mixin Main-banner(param={})
  .main-banner
    .container
      .main-banner__content
        .main-banner__title.title СИТИЛАБ - международная сеть лабораторий
        .main-banner__subtitle.title-sm Более 900 видов исследований
        button.main-banner__btn Получить скидку
      .main-banner__img
        img(src="/assets/img/categories/main-banner.png", alt="", class='main-banner-desk')
        img(src="/assets/img/categories/main-banner-sm.png", alt="", class='main-banner-mob')