+MyModal({id: 'mobile-menu', mode: 'mobile-menu'})
  +slot('body')
    +Main-menu()
+MyModal({id: 'callback', mode: 'callback', success: true})
    +Popup-callback()
//- +MyModal({id: 'get-discount', mode: 'get-discount'})
//-   +slot('body')
//-     +Get-discount()