extends ../templates/main

block variables
    - const title = 'Анализы'
    - const description = 'Описание главной страницы'

block content

    main.card-page
        section.container
            +Breadcrumbs({
                analysisCard: true
            })
        section.section.container.pb-lg-100
            .title-sm 25-OH Витамин D общий (25-гидроксикальциферол)
            
            .price
                .price__name.subtitle Цена:
                .price__cost.title-sm 2170 ₽

            +TabsNav({
                items: [
                    { label: 'Описание', targetId: 'tab1' },
                    { label: 'Показания', targetId: 'tab2' },
                    { label: 'Интерпретация', targetId: 'tab3' },
                    ],
                })

            .tabb#tab1(style="width: 100%; height: 100%;") 
                +Analysis-text({
                    texts: [
                        '25-гидроксикальциферол (Витамин Д) –  промежуточный продукт превращения витамина D, по уровню которого в крови можно судить о насыщенности организма кальциферолом и выявить дефицит или переизбыток витамина D.', 
                        'Витамин D –  жирорастворимое вещество, необходимое для поддержания в крови уровня кальция, фосфора и магния. По своему действию он является гормоном и антирахитическим фактором.', 
                        'Большую часть витамина Д организм получает благодаря солнечному свету. Еще немного этого вещества поступает с продуктами питания: жирной морской рыбой, сливочным маслом, молочными продуктами. Однако в России из-за территориальных и климатических условий большая часть населения испытывает хронический дефицит солнечного света, а для восполнения дефицита витамина D только продуктов питания недостаточно.'
                    ]
                })
                +Analysis-list({
                    title: 'Действие витамина D:',
                    texts: [
                        'обеспечивает нормальный рост и развитие костей, предупреждает развитие рахита и остеопороза, путем регуляции минерального обмена;', 
                        'способствует мышечному тонусу, повышает иммунитет, необходим для функционирования щитовидной железы и нормальной свертываемости крови;', 
                        'участвует в регуляции артериального давления и сердцебиения;', 
                        'препятствует росту раковых клеток.',
                        ]
                })
                +Analysis-text({
                    rule: true,
                })
                +Analysis-list({
                    title: 'Интерпретация концентраций 25(OH)D, принимаемая Российской ассоциацией эндокринологов:',
                    texts: [
                        'Выраженный дефицит витамина D <10 нг/мл',
                        'Дефицит витамина D <20 нг/мл',
                        'Недостаточность витамина D ≥20 и <30 нг/мл',
                        'Целевые уровни витамина D 30-60 нг/мл',
                        'Адекватные уровни витамина D 30-100 нг/мл',
                        'Уровни с возможным проявлением токсичности витамина D >100 нг/мл',
                    ]
                })
            .tabb#tab2(style="width: 100%; height: 100%; display: none;")
                +Analysis-list({
                    texts: [
                        'При симптомах дефицита Витамина Д, таких как искривление костей у детей (рахит) и слабость, размягчение и ломкость костей у взрослых (остеомаляция), повышенная утомляемость и слабость, часты простудные заболевания.',
                        'Пациентам с нарушениями всасывания питательных веществ в кишечнике (например, при болезни Крона, внешнесекреточной недостаточности поджелудочной железы, муковисцидозе, целиакии, состояний после резекции желудка и кишечника).',
                        'Всем пожилым людям, так как они входят в группу риска по дефициту витамина Д.',
                        'Всем жителям регионов с низкой солнечной инсоляцией.',
                        'Если пациент принимает препараты витамина Д, для контроля за эффективностью лечения.',
                        'При комплексной диагностике кальциевого обмена.',
                    ]
                })
            .tabb#tab3(style="width: 100%; height: 100%; display: none;")
                +Analysis-text({
                    title: 'Интерферирующие факторы:',
                    texts: [
                        'Прием препаратов витамина Д, фенитоина, фенобарбитала, рифампицина, пероральных антикоагулянтов.'
                    ]
                })
                +Analysis-list({
                    title: 'Причины отклонения показателей от нормы (повышенные значения):',
                    texts: [
                        'передозировка Витамина Д,',
                        'длительная солнечная инсоляция,',
                        'прием Этидроната Натрия',
                    ]
                })
                +Analysis-list({
                    title: 'Причины отклонения показателей от нормы (сниженные значения):',
                    texts: [
                        'недостаточная инсоляция,',
                        'недостаточное употребление пищи, богатой Витамином Д,',
                        'нарушение всасывания Витамина Д в кишечнике, например, при синдроме мальабсорбции,',
                        'заболевания печени,',
                        'прием некоторых лекарственных препаратов, например, глюкокортикостероидов,',
                        'тиреотоксикоз',
                        'недостаточность экзокринной функции поджелудочной железы,',
                        'рахит.',
                    ]
                })
