extends ../templates/main

block variables
    - const title = 'Анализы'
    - const description = 'Описание главной страницы'

block content

  main.article-page
    section.container
      +Breadcrumbs({
        article: true
      })
    section.container.section
      .article-card
        .article-card__banner
          .article-card__img
            img(src="/assets/img/categories/article1.png", alt="")
          .article-card__date 01.10.2023
            .article-card__title.title Эндометриоз у женщин: причины, симптомы, диагностика, лечение
        .article-card__subtitle.subtitle-sm Эндометриоз у женщин представляет собой процесс разрастания доброкачественной ткани, которая схожа с эндометрием по структуре и функциям, за пределы полости матки. Примерно 30% женщин обращаются к гинекологу с жалобами, связанными с этой патологией. До 50% пациенток с эндометриозом страдают от бесплодия.
        .article-card__subtitle.subtitle-sm Клиническая картина чрезвычайно разнообразна. Достаточно часто симптомы заболевания могут не проявляться годами. Это обуславливает сложность диагностики, а лечение этой хронической патологии требует комплексного и индивидуального подхода в зависимости от возраста и репродуктивного статуса пациентки, стадии эндометриоза, сопутствующих заболеваний и других факторов.
        
        .article-card__title.subtitle Классификация эндометриоза
        .article-card__subtitle.subtitle-sm Эндометриоз матки прежде всего разделяют по расположению на:
        ul.article-card__list 
          li.subtitle-sm внутренний эндометриоз, или аденомиоз (внедрение эндометриоидных элементов в толщу эндометрия);
          li.subtitle-sm наружный эндометриоз: внутрибрюшинный (поражение брюшины, покрывающей матку, трубы, позадиматочное пространство, мочевой пузырь, поверхность яичников) и внебрюшинный (поражение влагалищной части шейки матки, влагалища, ретроцервикальной области).
        .article-card__subtitle.subtitle-sm о распространенности аденомиоз бывает очаговым, кистозным и узловым.
        .article-card__subtitle.subtitle-sm Эндометриоз яичника бывает двух видов, в зависимости от типа и локализации:
        ul.article-card__list 
          li.subtitle-sm формирование очагов на поверхности яичника или в корковом слое;
          li.subtitle-sm формирование эндометриоидных кист от 0,5 до 10 см в диаметре, плотные капсулы которых образуют спайки с окружающими тканями.
        .article-card__subtitle.subtitle-sm Другие классификации учитывают происхождение, глубину и площадь поражения, анатомические проявления эндометриоза и иные параметры.
        
        .article-card__title.subtitle Причины эндометриоза
        .article-card__subtitle.subtitle-sm Раньше было принято считать, что чаще всего эндометриоз развивается у женщин после 40 лет, но в последние десятилетия это заболевание «помолодело».
        .article-card__subtitle.subtitle-sm Единого мнения о причинах развития этой патологии не существует. Наиболее достоверными считаются следующие теории:
        ul.article-card__list 
          li.subtitle-sm генетическая предрасположенность (может передаваться по наследству);
          li.subtitle-sm ретроградная менструация (кровь попадает в полость малого таза, таким образом клетки эндометрия оказываются за пределами полости матки, прикрепляются к окружающим тканям и дают рост);
          li.subtitle-sm метаплазия или перерождение клеток (клетки брюшины превращаются в клетки эндометрия матки под влиянием гормональных и иммунных факторов);
          li.subtitle-sm гормональные нарушения (дисбаланс половых гормонов);
          li.subtitle-sm иммунный сбой (организм не удаляет клетки эндометрия, занесенные в брюшную полость).
        .article-card__subtitle.subtitle-sm К предрасполагающим факторам также относят инфекционные заболевания, гормональные нарушения, миому матки, воспалительные заболевания репродуктивных органов, операции на них, аборт, выскабливание, патологические роды, дефицит железа, плохую экологию, заболевания печени.

        .article-card__title.subtitle Симптомы эндометриоза
        .article-card__subtitle.subtitle-sm Зачастую заболевание протекает бессимптомно. К основным признакам, которые позволяют заподозрить эту патологию, относятся:
         ul.article-card__list 
          li.subtitle-sm бесплодие;
          li.subtitle-sm боли, появляющиеся или резко усиливающиеся в предменструальные дни и во время менструации;
          li.subtitle-sm дискомфорт при половом акте;
          li.subtitle-sm хронические боли в области таза;
          li.subtitle-sm нарушения менструального цикла;
          li.subtitle-sm неврологические нарушения (повышенная утомляемость, повышенная эмоциональность, апатия или депрессия, тревожность, нарушения сна);
          li.subtitle-sm нарушения работы кишечника (запоры и вздутие живота из-за спаек).

        .article-card__title.subtitle Эндометриоз и бесплодие
        .article-card__subtitle.subtitle-sm Основным осложнением этой патологии считается бесплодие. Существует несколько механизмов нарушения репродуктивной функции:
        .article-card__subtitle.subtitle-sm 1. Формирование спаек в тазовой полости между яичниками, маточными трубами, кишечником, брюшной стенкой и стенками таза. Это приводит к искривлению маточных труб и затрудняет перемещение яйцеклетки в матку.
        .article-card__subtitle.subtitle-sm 2. Образование эндометриоидных кист в яичниках, что затрудняет овуляцию и наступление беременности.
        .article-card__subtitle.subtitle-sm 3. Иммунные нарушения приводят к продукции антител ко всем клеткам эндометрия, включая нормальные ткани матки. В результате имплантация яйцеклетки к маточной стенке нарушается, или беременность прерывается на ранних сроках.
        .article-card__subtitle.subtitle-sm 4. Гормональный дисбаланс, когда уровень эстрогена превышает уровень прогестерона, в результате чего овуляция не наступает.

        .article-card__title.subtitle Диагностика эндометриоза
        .article-card__subtitle.subtitle-sm Сбор анамнеза и общий гинекологический осмотр обычно позволяют лишь предположить наличие патологии. Зачастую эндометриоз выявляется случайно в ходе других диагностических или хирургических процедур.
        .article-card__subtitle.subtitle-sm При подозрении на эту патологию проводят кольпоскопию и цервикоскопию (осмотр шейки матки), УЗИ органов малого таза, гистеросальпингографию (исследование проходимости маточных труб), МРТ, КТ и спиральную КТ органов малого таза (позволяют выявить неровности контуров, повышенную плотность тканей, узелки, кисты), цистоскопию (при подозрении поражения стенки мочевого пузыря).
        .article-card__subtitle.subtitle-sm Лабораторные анализы при эндометриозе включают общий анализ крови (для выявления воспалительных реакций) и определение уровня половых гормонов (фолликулостимулирующий, лютеинизирующий, тестостерон), а также уровня онкомаркера CA 125, который указывает на наличие патологических процессов в яичниках.
        .article-card__subtitle.subtitle-sm При необходимости выполняют диагностическую лапароскопию – небольшие разрезы на передней брюшной стенке для визуального осмотра брюшной полости и области малого таза.

        .article-card__title.subtitle Лечение эндометриоза
        .article-card__subtitle.subtitle-sm Терапевтические усилия направлены на достижение следующих целей:
        ul.article-card__list 
          li.subtitle-sm устранение патологического очага;
          li.subtitle-sm уменьшение болевого синдрома;
          li.subtitle-sm лечение бесплодия;
          li.subtitle-sm контроль прогрессирования заболевания;
          li.subtitle-sm профилактика рецидивов после проведенного лечения.
        .article-card__subtitle.subtitle-sm В связи с хроническим течением заболевания терапия всегда назначается длительно с постоянным мониторингом состояния пациентки. Применяют медикаментозные и хирургические методы, их комбинации.
        .article-card__subtitle.subtitle-sm Гормонотерапия позволяет купировать симптомы, улучшить работоспособность и качество жизни пациентки, сохранить ее фертильность. Ее подбирают индивидуально с контролем показателей каждые 3 месяца. При неэффективности такого лечения назначают операцию.
        .article-card__subtitle.subtitle-sm Хирургическое вмешательство признано самым эффективным методом лечения эндометриоза, а самым радикальным подходом считается гистерэктомия – полное удаление матки. Однако недостатком этого подхода считается высокий риск рецидивов. Это связано с тем, что удаляются только видимые очаги патологии, а микроскопические участки поражения остаются и через время запускают заболевание заново.
        .article-card__subtitle.subtitle-sm В большинстве случаев проводят комбинированное лечение. В частности, назначают медикаменты после проведения операции для профилактики рецидивов, причем их прием может быть пожизненным.
        .article-card__subtitle.subtitle-sm Кроме того, психосоциальная поддержка женщин, страдающих эндометриозом, считается необходимой частью терапии. Достаточную эффективность доказали альтернативные методы лечения: иглоукалывание, когнитивная терапия, коррекция поведения.
        .article-card__subtitle.subtitle-sm В запущенных случаях заболевание приводит к раку груди или перерождению эндометриоидных тканей в злокачественные опухоли. Это чаще всего наблюдается у женщин в постменопаузе. В таком случае проводится срочная операция.

    section.section.container-slider.pb-lg-100
      +Article({})
