extends ../templates/main

block variables
    - const title = 'Анализы'
    - const description = 'Описание главной страницы'

block content

  main.article-page
    section.container
      +Breadcrumbs({
        article: true
      })
    section.container.section
      .article-card
        .article-card__img
          img(src="/assets/img/categories/article1.png", alt="")
        .article-card__date 01.10.2023
        .article-card__title.subtitle Эндометриоз у женщин: причины, симптомы, диагностика, лечение
        .article-card__subtitle.subtitle-sm Эндометриоз у женщин представляет собой процесс разрастания доброкачественной ткани, которая схожа с эндометрием по структуре и функциям, за пределы полости матки. Примерно 30% женщин обращаются к гинекологу с жалобами, связанными с этой патологией. До 50% пациенток с эндометриозом страдают от бесплодия.
        .article-card__subtitle.subtitle-sm Клиническая картина чрезвычайно разнообразна. Достаточно часто симптомы заболевания могут не проявляться годами. Это обуславливает сложность диагностики, а лечение этой хронической патологии требует комплексного и индивидуального подхода в зависимости от возраста и репродуктивного статуса пациентки, стадии эндометриоза, сопутствующих заболеваний и других факторов.
        .article-card__title.subtitle Классификация эндометриоза
        .article-card__subtitle.subtitle-sm Эндометриоз матки прежде всего разделяют по расположению на:
        ul.article-card__list 
          li.subtitle-sm внутренний эндометриоз, или аденомиоз (внедрение эндометриоидных элементов в толщу эндометрия);
          li.subtitle-sm наружный эндометриоз: внутрибрюшинный (поражение брюшины, покрывающей матку, трубы, позадиматочное пространство, мочевой пузырь, поверхность яичников) и внебрюшинный (поражение влагалищной части шейки матки, влагалища, ретроцервикальной области).
        .article-card__subtitle.subtitle-sm о распространенности аденомиоз бывает очаговым, кистозным и узловым.
        .article-card__subtitle.subtitle-sm Эндометриоз яичника бывает двух видов, в зависимости от типа и локализации:
        ul.article-card__list 
          li.subtitle-sm формирование очагов на поверхности яичника или в корковом слое;
          li.subtitle-sm формирование эндометриоидных кист от 0,5 до 10 см в диаметре, плотные капсулы которых образуют спайки с окружающими тканями.
        .article-card__subtitle.subtitle-sm Другие классификации учитывают происхождение, глубину и площадь поражения, анатомические проявления эндометриоза и иные параметры.
        .article-card__title.subtitle Причины эндометриоза
        .article-card__subtitle.subtitle-sm Раньше было принято считать, что чаще всего эндометриоз развивается у женщин после 40 лет, но в последние десятилетия это заболевание «помолодело».
        .article-card__subtitle.subtitle-sm Единого мнения о причинах развития этой патологии не существует. Наиболее достоверными считаются следующие теории:
        ul.article-card__list 
          li.subtitle-sm генетическая предрасположенность (может передаваться по наследству);
          li.subtitle-sm ретроградная менструация (кровь попадает в полость малого таза, таким образом клетки эндометрия оказываются за пределами полости матки, прикрепляются к окружающим тканям и дают рост);
          li.subtitle-sm метаплазия или перерождение клеток (клетки брюшины превращаются в клетки эндометрия матки под влиянием гормональных и иммунных факторов);
          li.subtitle-sm гормональные нарушения (дисбаланс половых гормонов);
          li.subtitle-sm иммунный сбой (организм не удаляет клетки эндометрия, занесенные в брюшную полость).
        .article-card__subtitle.subtitle-sm К предрасполагающим факторам также относят инфекционные заболевания, гормональные нарушения, миому матки, воспалительные заболевания репродуктивных органов, операции на них, аборт, выскабливание, патологические роды, дефицит железа, плохую экологию, заболевания печени.