extends ../templates/main

block variables
    - const title = 'Главная'
    - const description = 'Описание главной страницы'

block content
    .container.bg-gray
        +Doctor-experts({
            })

    include _modals
