extends ../templates/main

block variables
    - const title = 'Главная'
    - const description = 'Описание главной страницы'

block content

    section.section
        include ../components/Banner/Banner

    section.section
        include ../components/Info/Info

    section.section
        include ../components/Services/Services

    section.section
        include ../components/Guarantee/Guarantee

    section.section
        include ../components/Mark-auto/Mark-auto
        
    section.section
        include ../components/Stock/Stock

    section.section
        include ../components/Reviews/Reviews

    section.section
        include ../components/Application/Application

    include _modals
