extends ../templates/main

block variables
    - const title = 'Главная'
    - const description = 'Описание главной страницы'

block content

    section
      +Main-banner({})

    section.section.container
      +Main-nav({})

    section.section.container
      include ../components/Main-stock/Main-stock

    section.bg-blue
      .container.section-inner
        include ../components/Main-services/Main-services

    include _modals
