extends ../templates/main

block variables
    - const title = 'Главная'
    - const description = 'Описание главной страницы'

block content

    section
      +Main-banner({})

    section.container.section
        include ../components/Main-services/Main-services

    section.section-top.container
      +Main-nav({})

    section.section.container
      include ../components/Main-stock/Main-stock

    

    section.section.container
        include ../components/Main-about/Main-about

    section.container
        include ../components/Main-contacts/Main-contacts

    section.section.container
      +Main-review({})

      //- section
      //-   +Cashback({})

    section.section.container-slider
      +Article({})

    section.bg-light-blue.section
      .container
        +Subscribe({})

    include _modals
