mixin Invite(param={})
    .invite
        .subtitle Приглашаю вас на консультацию
        .invite__tel Телефон: +381-11-777-3777
        .invite__adress 
            +icon('mark')
            span Dubljanska 41, Belgrade
        .invite__btn.btn.btn_secondary Запись на приём