.main-stock {
  display: flex;
  flex-direction: column;
  row-gap: 47px;
  position: relative;
  padding-bottom: 37px;
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    a {
      position: absolute;
      right: 0;
      color: #00abdf;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.36px;
    }
  }
  &__slider {
    overflow: hidden;
    display: flex;
    .swiper-wrapper {
      .swiper-slide {
        height: auto;
      }
    }
  }
  &__navigation {
    &_prev {
      transform: rotate(90deg);
      left: -25px;
    }
    &_next {
      transform: rotate(270deg);
      right: -25px;
    }
    &_prev,
    &_next {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      border: 1px solid #fff;
      background-color: #00b2e3;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 45%;
      z-index: 2;
      svg {
        fill: #fff;
      }
      &.swiper-button-disabled {
        border: 1px solid #00b2e3;
        background-color: #fff;

        svg {
          fill: #00b2e3;
        }
      }
    }
  }

  &__pagination {
    display: none;
    justify-content: center;
    column-gap: 18px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    span {
      width: 12px;
      height: 12px;
      background: #e5e8ea;
      border-radius: 100%;
      display: block;

      &:hover {
        cursor: pointer;
      }

      &.swiper-pagination-bullet-active {
        background-color: #00abdf;
        &::after {
          content: '';
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 100%;
          border: 1px solid #00abdf;
          position: relative;
          // left: -1px;
          // top: -1px;
          // transform: translate(-1px, -1px);
        }
      }
    }
  }

  @media (max-width: 800px) {
    &__navigation {
      &_next,
      &_prev {
        display: none;
      }
    }
    &__pagination {
      display: flex;
      // padding-top: 25px;
    }
  }
  @include xs {
    row-gap: 20px;
    &__title {
      a {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px; /* 128.571% */
        letter-spacing: -0.28px;
      }
    }
  }
}
