.main-stock 
  .main-stock__title.title-sm Акции
    a(href="#") Все акции 
  button.main-stock__navigation_prev
      +icon('arrow-down')
  button.main-stock__navigation_next
      +icon('arrow-down')
  .main-stock__slider 
    .swiper-wrapper 
      .swiper-slide
        +Stock-card({
          subtitle: 'до 30 ноября 2023',
          title: 'Проверь щитовидную железу по специальной цене',
          img: '1'
        })
      .swiper-slide
        +Stock-card({
          subtitle: 'до 31 декабря 2023',
          title: 'Комплексное обследование Женского здоровья по специальной цене',
          img: '2'
        })
      .swiper-slide
        +Stock-card({
          subtitle: 'до 31 декабря 2023',
          title: 'Комплексное обследование мужского здоровья по специальной цене',
          img: '3'
        })
      .swiper-slide
        +Stock-card({
          subtitle: 'до 31 декабря 2023',
          title: '7 биохимических показателей по специальной цене',
          img: '4'
        })
      .swiper-slide
        +Stock-card({
          subtitle: 'до 31 декабря 2023',
          title: 'Скидка 15% на ПЦР-тест на ковид. Выявляет даже новый штамм Пирола.',
          img: '5'
        })
    .main-stock__pagination