.main-about {
  position: relative;
  &__title {
    margin-bottom: 30px;
    text-align: center;
  }
  &__subtitle {
    margin-bottom: 30px;
  }
  &__img {
    height: 282px;
    width: 100%;
    max-width: 280px;
    overflow: hidden;
    img {
      object-fit: cover;
      height: 100%;
    }
  }
  &__slider {
    overflow: hidden;
    .swiper-wrapper {
      // column-gap: 20px;
      display: flex;
      justify-content: space-between;
    }
    .swiper-slide {
      width: max-content;
    }
  }
  @media (max-width: 1270px) {
    padding-bottom: 42px;
    .slider-pagination {
      display: flex;
    }
    &__img {
      max-width: 100%;
    }
  }
  @include xs {
    &__img {
      max-width: 100%;
    }
  }
}
