.main-about
  .main-about__title.title-sm Наша лаборатория
  .main-about__subtitle.subtitle-sm Медицинская лаборатория СИТИЛАБ в Сербии проводит более 900 видов анализов для взрослых и детей, включая редкие молекулярные и генетические тесты. Мощность лабораторного комплекса - более трех миллионов образцов в год, что позвляет сотрудничать с государственными и частными лечебно-профилактическими учреждениями и оказывать качественные медицинские услуги на территории всей Сербии. Готовность большинства анализов - всего 1 день. 
  .main-about__slider
    .swiper-wrapper 
      .swiper-slide 
        .main-about__img
          img(src=`/assets/img/categories/about1.png`, alt="about")
      .swiper-slide 
        .main-about__img
          img(src=`/assets/img/categories/about2.png`, alt="about")
      .swiper-slide 
        .main-about__img
          img(src=`/assets/img/categories/about3.png`, alt="about")
      .swiper-slide 
        .main-about__img
          img(src=`/assets/img/categories/about4.png`, alt="about")
    +Slider-pagination({})
  
