// mixins UI
include ../components/ui/Input/Input
include ../components/ui/Input/Checkbox
include ../components/ui/Input/Toggle
include ../components/ui/Input/Radio
include ../components/ui/Input/Select
include ../components/ui/Input/InputFile
include ../components/ui/Tag/Tag
include ../components/ui/Breadcrumbs/Breadcrumbs
include ../components/ui/MyModal/MyModal
include ../components/ui/Pagination/Pagination
include ../components/ui/Tabs/TabsNav
include ../components/ui/Filters/Filters

include icon
include Header/Header
include Main-banner/Main-banner
include Main-nav/Main-nav
include Stock-card/Stock-card
include Services-card/Services-card
include Slider-navigation/Slider-navigation
include Slider-pagination/Slider-pagination
include Footer/Footer
include Main-review/Main-review
include Btn-callback/Btn-callback
include Main-menu/Main-menu
include Card-review/Card-review
include Get-discount/Get-discount
include Subscribe/Subscribe
include Article/Article
include Article-card/Article-card
include Analysis-list/Analysis-list
include Btn-up/Btn-up
include Popup-callback/Popup-callback
include Resume/Resume
include Invite/Invite
include Sidebar-sm/Sidebar-sm
include Doctor-info/Doctor-info
include Other-articles/Other-articles
include Analysis-card/Analysis-text
include Analysis-card/Analysis-list

include Cashback/Cashback