mixin Doctor-info(param={})
    if(param.blockOne)
        .title-sm Почему выбирают меня
        div
            .subtitle.text-blue 1. Профессионализм и опыт
            ul.doctors-block__list-sm 
                li.subtitle-sm Более 28 лет работы в ведущих медицинских учреждениях.
                li.subtitle-sm Высшая квалификационная категория.
        div
            .subtitle.text-blue 2. Личное отношение и забота
            ul.doctors-block__list-sm 
                li.subtitle-sm Каждой пациентке обеспечивается индивидуальный подход и внимательное отношение.
                li.subtitle-sm Создание комфортной и поддерживающей атмосферы на каждом приеме.
        div
            .subtitle.text-blue 3. Современные методы лечения
            ul.doctors-block__list-sm 
                li.subtitle-sm Использование новейших технологий и методов диагностики и лечения.
                li.subtitle-sm Применение передовых достижений медицинской науки для обеспечения лучших результатов.

    if(param.blockTwo)
        .title-sm Образование
        .subtitle-sm Окончила Российский  национальный исследовательский медицинский университет имени Н.И. Пирогова, факультет лечебного дела.

    if(param.blockThree)
        .title-sm.mb-2 Опыт работы
        div
            .date 2003 - 2004
                span.subtitle-sm Врач акушер-гинеколог в Мытищинской городской клинической больнице.
            .date 2004 - 2007
                span.subtitle-sm Врач акушер-гинеколог в Женской консультации МУЗ «Городская поликлиника №5».
            .date 2007 - 2024
                span.subtitle-sm Заведующая женской консультацией и врач акушер-гинеколог в МУЗ «Городская поликлиника №5».
            .date 2007 - 2024
                span.subtitle-sm Заведующая женской консультацией и врач акушер-гинеколог в МУЗ «Городская поликлиника №5».
            .date с июля 2024
                span.subtitle-sm Врач акушер-гинеколог в клинике "Citilab", Belgrade.
        
    if(param.blockFour)
        .title-sm Услуги, которые я предоставляю
        ul.doctors-block__list
            li.subtitle-sm Ежегодные осмотры с целью сохранения женского здоровья
            li.subtitle-sm Консультирование по современным  методам контрацепции
            li.subtitle-sm Лечение воспалительных заболеваний женских половых органов
            li.subtitle-sm Лечение заболеваний шейки матки, вульвы и влагалища
            li.subtitle-sm Лечение нарушений менструального цикла
            li.subtitle-sm Прегравидарная подготовка
            li.subtitle-sm Ведение беременности
            li.subtitle-sm Ведение послеродового периода
            li.subtitle-sm Лечение климактерического синдрома, ведение перименопаузального и постменопаузального периодов
            li.subtitle-sm Подбор менопаузальной гормональной терапии

    if(param.blockFive)
        .title-sm Мои ценности
        div
            .subtitle.text-blue Эмпатия
            .subtitle-sm Слушаю и понимаю каждую пациентку, учитывая её индивидуальные потребности и желания.
        div
            .subtitle.text-blue Конфиденциальность
            .subtitle-sm Гарантирую полную конфиденциальность и приватность.
        div
            .subtitle.text-blue Постоянное развитие
            .subtitle-sm Стремлюсь к непрерывному профессиональному росту и освоению новейших медицинских практик.

    if(param.blockSix)
        .title-sm Мои принципы
        div
            .subtitle.text-blue Доступность информации
            .subtitle-sm Стараюсь предоставить пациенткам максимально доступную информацию, основываясь на актуальных данных и клинических рекомендациях.
        div
            .subtitle.text-blue Доказательная медицина
            .subtitle-sm Использую доказательную медицину как инструмент квалифицированной и качественной помощи пациентам, что предполагает постоянное общение и совершенствование врача, а также применение безопасных и эффективных методов лечения​​.

    if(param.blockSeven)
        .title-sm Описание работы
        .subtitle-sm Гинеколог сопровождает женщину на протяжении всей ее жизни — от младенчества до старости. Я помогу подобрать надежную контрацепцию, подготовиться к беременности и сопровождать её до родов, поддержу в послеродовом периоде, а также помогу справиться с проблемами репродуктивного, перименопаузального и постменопаузального периодов​​.
            