.banner
    .container.banner__container
        .banner__content
            .banner__content_title Специализированный Автосервис
            .banner__content_phone +7 (999) 123-45-67
            .banner__content_contacts
                .banner__content_contacts_title
                    span Работаем для вас: 
                .banner__content_contacts_subtitle
                    span Ежедневно с 9:00 до 21:00
            .banner__content_contacts
                .banner__content_contacts_title 
                    span По адресу: 
                .banner__content_contacts_subtitle
                    span Екатеринбург, ул. Московский тракт 7 км, 2s
            .banner__content_controles
                button.btn.btn_primary.banner__content_controles_btn
                    span Смотреть услуги
                    +icon("down")
        .banner__img 
            img(src="/assets/img/garage.png" alt="гараж")
